{% extends 'base.html' %}


{% block content %}
    <style>
        /* Add your CSS styles here */
    
        .content {
            width: 800px;
            border-top: solid 20px;


        }


        .timeframe-select {
            margin-top: 10px;
            text-align: center;
        }
        .timeframe-select select {
            padding: 5px;
            font-size: 16px;
        }
        .timeframe-select button {
            padding: 5px 10px;
            font-size: 16px;
            cursor: pointer;
        }

        .form-container {
            margin-top: 30px;
            padding: 20px;
            background-color: #f0f0f0;
            border-radius: 8px;
            border-top: 40px solid rgb(65, 62, 62); /* Adjusted to 20px top border */
            
        }

        .form-container form {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        .form-container label, .form-container input {
            margin: 5px;
        }

        .form-container input[type="submit"] {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .form-container input[type="submit"]:hover {
            background-color: #0056b3;
        }
        .day {
            max-width: 200px;
            height: 10px;
            margin-left: 500px auto;
            padding: 5px;
            background-color: #eef8f6;
           
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .agnt {
            max-width: 200px;
            margin-left: 500px;
            padding: 5px;
            background-color: #f8f2f2;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .sal {
            max-width: 200px;
            margin-left: 500px;
            padding: 5px;
            background-color: #f3eded;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .tab {
            
            display: flex;
        }
    </style>
</head>
<body>
    <div class="tab">
    <table class="day">
        <tr>
            <th><h5>staff $</h5></th>
            <th>{{total_salary_day}}</th>
        </tr>

    </table>

    <table class="agnt">
        <tr>
            <th>agent $</th>
            <th>{{total_payment_day}}</th>
        </tr>
        
    </table>
    <table class="sal">
        <tr>
            <th>sale $</th>
            <th>{{total_sales_amount}}</th>
        </tr>
        
    </table>
    </div>
        
    <h3>add sale</h3>
    <div class="form-container">

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
   
{% endblock %}













